colours {
  color: #ffe066;
  color: #feeeec;
  color: #b7adcf;
  color: #335cb1;
  color: #70c1b3;
}

* {
  overflow: hidden;
}

main {
  display: flex;
  font-family: monospace;
  background-color: #b7adcf;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 20px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 30vw;
  color: #ffe066;
  background-color: #335cb1;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 4px #70c1b3;
  background-color: #a5cbc5;
  padding: 20px;
  width: fit-content;
}

input {
  height: 6vh;
  width: 20vw;
}

.explore-btn {
  height: 5vh;
  width: 10vw;
  margin: 20px;
}

.display {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  width: 70vw;
  justify-content: align;
  align-items: center;
  background-color: #feeeec;
}

img {
  width: 450px;
  height: 450px;
  border: 5px solid #ffe066;
}

p,
h2 {
  color: #335cb1;
}
